.about-page {
  min-height: 90vh;
  padding: 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    display: block;
  }
  .about-text {
    flex: 1;
    padding-right: 5rem;
    h1 {
      padding-bottom: 3rem;
      font-family: "Sora", sans-serif;
      font-weight: 700;
    }
    p {
      padding-bottom: 1.5rem;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: pink;
    }
  }
  .about-img {
    flex: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }
  }
}
