.intro-container {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  color: white;
  padding: 25rem 5rem;
  .hide {
    overflow: hidden;
  }
  h2 {
    font-size: 2rem;
  }
}

.intro-btn {
  margin-right: 5rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: 3px solid green;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover {
    background-color: green;
    color: white;
  }
}
