.intro-container {
  min-height: 90vh;
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  color: white;
  margin: auto;
  padding: 20rem 10rem;
  .hide {
    overflow: hidden;
  }
  h2 {
    font-size: 2.5rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    span {
      color: green;
      font-weight: 700;
    }
  }
}

.intro-btn {
  margin-top: 5rem;
  margin-right: 5rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: 3px solid $mainBlue;
  background: transparent;
  color: $darkerText;
  transition: all 0.5s ease;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: $mainBlue;
    color: white;
  }
}
