.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 5rem;
  padding: 5rem;
  .card {
    background-color: purple;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
