.projects-grid {
  max-width: 1900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 5rem;
  margin: auto;
  padding: 5rem;
  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
  }
  .card {
    background-color: $navBack;
    transition: all 0.5s ease;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0rem 1rem 1rem;
      h2 {
        font-size: 1.5rem;
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        color: white;
      }
      .project-btn {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border: 3px solid $mainBlue;
        background: transparent;
        color: $darkerText;
        transition: all 0.5s ease;
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background-color: $mainBlue;
          color: white;
        }
      }
    }
    .card-desc {
      ul {
        list-style: none;
        display: flex;
        justify-content: left;
        margin: 1rem;
        opacity: 0;
        transition: all 0.2s ease;
        li {
          font-family: "Be Vietnam Pro", sans-serif;
          font-size: 0.75rem;
          font-weight: 400;
          padding: 0rem 1rem;
          color: $mainPink;
        }
      }
    }
    &:hover {
      ul {
        opacity: 1;
        li {
          text-shadow: 1px 1px 20px rgba(228, 20, 118, 0.9);
        }
      }
    }
  }
}
