@import "./colors";
@import "./nav";
@import "./home";
@import "./projects";
@import "./about";

/*
    font-family: 'Be Vietnam Pro', sans-serif;
    weight: 100, 400, 700

    font-family: 'Sora', sans-serif;
    weight: 100, 400, 700
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bodyBack;
}

.btn-container {
  display: flex;
}
